@import "tailwindcss";

@keyframes backgroundMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-background-move {
  background-size: 200% 200%;
  animation: backgroundMove 15s ease-in-out infinite;
}

@keyframes gridMove {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(60px, 60px);
  }
}

.animate-grid {
  animation: gridMove 20s linear infinite;
}
